.top_nav_area {
    width: 100%;
    position: absolute;
    z-index: 100;
}

.top_nav_header {
    padding : 0 40px;
    
    
}

.top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.top_menu_area {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top_menu_area span {
    padding : 10px 20px;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.top_menu_area span:hover {
    
    text-decoration: underline;
}

.logoImage {
    width: 80px;
    height: 80px;
}